@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css');
@import url('./Font.css');
@import url('./RecipeList.css');
@import url('./Recipe.css');
@import url('./Button.css');
@import url('./Ingredient.css');

*,
*::before,
*::after {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
}

@media (min-width: 728px) {
  html {
    font-size: 1.5rem;
  }
}

body {
  padding: 0;
  margin: 0;
}

.container__recipe {
  border-top: 2px solid black;
  min-width: 100vw;
}

@media (min-width: 728px) {
  .container__recipe {
    border-top: none;
    border-right: 2px solid black;
    min-width: 100vh;
    width: 50%;
  }

  .container__recipe-edit {
    width: 50%;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow-y: auto;
    padding: 1rem 2rem;
    position: fixed;
  }
}
